@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Action>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


@{
	var actionSelection = Umbraco.Content(Guid.Parse("2e3d294f-0a68-4524-901d-1e0af0fe8176"))
    .ChildrenOfType("actionArticle")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name);
}

<div class="grid-container">
	@foreach (var item in actionSelection)
	{
		<div class="grid-item">
			<div class="teaser-image">
				@{
				var image = item.Value<IPublishedContent>("teaserImage");
				}
				<a href="@item.Url()">
        			<img width="auto" height="300" src="@image.Url()"/>
				</a>
			</div>
			<div class="teaser-details">
				<div>@item.Value("teaserTitle")</div>
				<div>@item.Value("movieYear")</div>
				<div>@item.Value("movieLenght") min</div>
				<div>@item.Value("movieGenre")</div>
			</div>
		</div>
	}
</div>

