@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Horror>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


@{
	var horrorSelection = Umbraco.Content(Guid.Parse("2bd4219b-8f12-4b62-bed6-e1772980d2a1"))
    .ChildrenOfType("horrorArticle")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name);
}
<div class="grid-container">
	@foreach (var item in horrorSelection)
	{
		<div class="grid-item">
			<div class="teaser-image">
				@{
				var image = item.Value<IPublishedContent>("teaserImage");
				}
				<a href="@item.Url()">
        			<img width="auto" height="300" src="@image.Url()"/>
				</a>
			</div>
			<div class="teaser-details">
				<div>@item.Value("teaserTitle")</div>
				<div>@item.Value("movieYear")</div>
				<div>@item.Value("movieLenght") min</div>
				<div>@item.Value("movieGenre")</div>
			</div>
		</div>
	}
</div>

